body, html {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

ul{
  padding: 0;
}

ol{
  padding-left: 20px; 
}

.horario-li{
  list-style: none;
  font-size: 20px;
}

img {
  width: 100%;
}

a:hover{
  text-decoration: none;
  color: #eda407 !important;
  transition: all .2s;
}

.div-hr-sobre{
  display: flex;
  align-items: center;
}

.separa-icone{
  display: block;
  border: 0 !important;
  background-color: #cccccc;
  height: 2px;
  width: 100%;
}

.icone-sobre{
  font-size: 5rem;
  margin: 2rem auto;
  text-align: center;
  display: block;
  float: none;
  color: #cccccc;
}

.descricao{
  font-size: 22px;
}

#div-welcome{
  bottom: 0px;
}

#p-welcome{
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

.navbar{
  transition: all .5s;
}

.footer-ul li a{
  color: #fff;
}

.scrolled-navbar{
  background: #00293f;
  height: 100px;
  transition: all .5s;
}

.scrolled-navbar a img{
  transform: scale(.7);
  transition: all .5s;
}

.scrolled-navbar .navbar-nav{
  background-color: #00293f;
  transition: all 2s;
}

.navbar a img{
  transition: all .5s;
}

.navbar ul li a{
  transition: all .5s;
}

.scrolled-navbar ul li a{
  font-size: 1rem;
  transition: all .5s;
}

/* fotos maquinas */

.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(204, 204, 204, 0.6),
		inset 0 0 0 16px rgba(204, 204, 204,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url(../img/maquinas/laser.jpg);
}

.ch-img-2 { 
	background-image: url(../img/maquinas/roland.jpg);
}

.ch-img-3 { 
	background-image: url(../img/maquinas/laser2.jpg);
}

.ch-img-4 { 
	background-image: url(../img/maquinas/uv.jpg);
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	margin: 0 30px;
	font-size: 16px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 200px rgba(0, 70, 132, 0.6),
		inset 0 0 0 16px rgba(204, 204, 204,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

/* fim fotos maquinas */

.divisoria{
  display: block;
  border: 0 !important;
  background-color: #eda407;
  height: 2px;
  width: 40%;
  margin-top: 0;
  margin-bottom: 50px;
  float: left;
}

.divisoria-6{
  display: block;
  border: 0 !important;
  background-color: #eda407;
  height: 2px;
  width: 80%;
  margin-top: 0;
  float: left;
}

/*Sobrescrita bootstrap*/
.nav-link{
	padding: 1.25rem !important;
  font-size: 1.25rem;
}

.navbar-brand{
	margin-right: 2.5rem;
}

.beneficios{
  font-size: 18px;
}

.bg-welcome {
  background-image: url("../img/bg-main-img.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-primary{
	background: #004684 !important;
}

.bg-dark{
  background: #00293f !important;
}

.bg-black{
  background: #181818 !important;
}

.btn-primary:disabled{
  background-color: #ccc !important;
  border: none;
}

.second{
  margin-bottom: 150px;
}

.bg-secondary{
  background: #eda407 !important;
}

.btn-secondary{
  background-color: #eda407;
  border-color: transparent;
  border: none;
}

.btn-secondary:hover{
  background-color: #f9bc39;
  border-color: transparent;
  border: none;
}

.btn-primary{
  background-color: #004684;
  border-color: transparent;
  border: none;
}

.btn-primary:hover{
  background-color: #006dcc;
  border-color: transparent;
  border: none;
}

.text-primary{
  color: #004684 !important;
}

.text-secondary{
  color: #eda407 !important;
}

.btn-welcome{
  font-size: 1rem;
}

.modal-content{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.posts-grid {
    columns: 350px;
    column-gap: 20px;
    padding: 20px 0 20px 0;
}
.post {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  break-inside: avoid-column;
  margin-bottom: 1rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.post h3{
  margin-top: .5em;
  color: #004684;
}

.post a{
  color: #eda407;
}

/*Efeito mouse welcome*/

.scroll-downs {
  right: 0;
  bottom: 0;  
  width :34px;
  height: 55px;
  cursor: pointer;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*Fim efeito mouse welcome*/

/* Media Queries */

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .ch-grid li {
    width: 400px;
    height: 400px;
  }
  .btn-welcome{
    font-size: 1.25rem;
  }
  #p-welcome{
    font-size: 3rem;
    line-height: 4rem;
  }
  .scrolled-navbar a img{
    transform: scale(.7);
    transition: all .5s;
  }
  .scrolled-navbar{
    height: 80px;
  }
}


@media (min-width: 1200px) {

}