*/node_modules
*/build
*/npm-debug.log
.env
.DS_Store
*/ENV
*/none_modules
node_modules
build
npm-debug.log
.env
.DS_Store
*/ENV
*/env
BackEnd/env
ENV
*/__pycache__
BACKEND/__pycache__
BackEnd/__pycache__
*/__pycache__/
*/.DS_Store
*/.vscode
.vscode
*.pyc
